<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./prueba.js">
</head>
<body>
    
    
    <div class="form-group">
        <input style="height: 40px; width: 30px; text-align: center;" type="tel" id="input1" maxlength="1" onkeyup="onKeyUp(this, 'input2')" />
        <input style="height: 40px; width: 30px; text-align: center;" type="tel" id="input2" maxlength="1" onkeyup="onKeyUp(this, 'input3')" />
        <input style="height: 40px; width: 30px; text-align: center;" type="tel" id="input3" maxlength="1" onkeyup="onKeyUp(this, 'input4')" />
        <input style="height: 40px; width: 30px; text-align: center;" type="tel" id="input4" maxlength="1" />
      </div>
</body>
</html>