body {
  background-image: url('../../assets/img/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.opacity-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.ftco-section {
  position: relative;
  z-index: 1;
}

.wrap {
  position: relative;
  z-index: 2;
}

.login-wrap {
  background-color: #fff;
}

.glassmorphism {
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(2px);
}


.form-link {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.form-link:hover {
  color: blue;
}


@media (max-width: 767px) {
  .ftco-section {
    padding-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    /* Para un desplazamiento suave en iOS */
    height: 100vh;
    /* Altura del 100% de la ventana */
  }
}

/* Estilos para pantallas más grandes */
@media (min-width: 1200px) {
  .ftco-section {
    padding-top: 50px;
    max-width: 960px;
    /* Ancho máximo para pantallas grandes */
    margin-left: auto;
    margin-right: auto;
  }
}

/* Estilos para pantallas extra grandes */
@media (min-width: 1400px) {
  .ftco-section {
    max-width: 1140px;
    /* Ancho máximo para pantallas extra grandes */
  }
}




/* Resto de tus estilos CSS existentes */